In [48]:
import pandas as pd
import env

### Importing the data directly from my sql.

In [49]:
dbc = env.get_connection('telco_churn')
telco_full = pd.read_sql('SELECT * FROM customers c JOIN contract_types ct ON c.contract_type_id = ct.contract_type_id JOIN internet_service_types it ON c.internet_service_type_id = it.internet_service_type_id JOIN payment_types pt ON c.payment_type_id = pt.payment_type_id', dbc)
telco_full.head()

Use this as dbc to help get your SQL data: Engine(mysql+pymysql://ada_665:***@157.230.209.171/telco_churn)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.9,542.4,No,1,Month-to-month,1,DSL,2,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.4,571.45,No,1,Month-to-month,1,DSL,4,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.2,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,25.1,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,3,30.5,30.5,Yes,1,Month-to-month,1,DSL,3,Bank transfer (automatic)

### Importing data from csv file

In [18]:
df = pd.read_csv('telco_full_data.csv')

In [19]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,internet_service_type_id.1,internet_service_type,payment_type_id.1,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.9,542.4,No,1,Month-to-month,1,DSL,2,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.4,571.45,No,1,Month-to-month,1,DSL,4,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.2,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,25.1,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,3,30.5,30.5,Yes,1,Month-to-month,1,DSL,3,Bank transfer (automatic)

In [22]:
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service_type_id',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract_type_id',
       'paperless_billing', 'payment_type_id', 'monthly_charges',
       'total_charges', 'churn', 'contract_type_id.1', 'contract_type',
       'internet_service_type_id.1', 'internet_service_type',
       'payment_type_id.1', 'payment_type'],
      dtype='object')

Checking that duplicate coluns are the same.

In [27]:
df.loc[df['payment_type_id'] != df['payment_type_id.1']]
df.loc[df['contract_type_id'] != df['contract_type_id.1']]
df.loc[df['internet_service_type_id'] != df['internet_service_type_id.1']]

Empty DataFrame
Columns: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, internet_service_type_id, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, contract_type_id, paperless_billing, payment_type_id, monthly_charges, total_charges, churn, contract_type_id.1, contract_type, internet_service_type_id.1, internet_service_type, payment_type_id.1, payment_type]
Index: []

[0 rows x 27 columns]

In [28]:
df.drop(['payment_type_id.1', 'contract_type_id.1', 'internet_service_type_id.1'], inplace=True, axis=1)

In [31]:
df.sample(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
4077,7621-VPNET,Female,0,Yes,No,42,Yes,Yes,2,No,...,No,1,Yes,4,85.9,3729.75,No,Month-to-month,Fiber optic,Credit card (automatic)
5641,2308-STERM,Female,0,No,No,2,Yes,No,3,No internet service,...,No internet service,1,No,2,19.4,61.05,No,Month-to-month,None,Mailed check
5357,6519-ZHPXP,Female,0,Yes,Yes,72,Yes,No,2,Yes,...,Yes,3,Yes,3,108.3,7679.65,No,Two year,Fiber optic,Bank transfer (automatic)
6275,6479-OAUSD,Male,0,No,No,25,Yes,No,3,No internet service,...,No internet service,2,No,4,19.9,510.8,No,One year,None,Credit card (automatic)
6474,1098-KFQEC,Female,0,Yes,Yes,55,Yes,No,3,No internet service,...,No internet service,3,No,4,19.4,1083,No,Two year,None,Credit card (automatic)

In [50]:
def peekatdata(df):
    print('First five rows of the dataframe:')
    head_df = df.head()
    print(head_df)
    print('\n')
    print('Last five rows of the dataframe:')
    tail_df = df.tail()
    print(tail_df)
    print('\n')
    print('Shape of the dataframe:')
    shape_tuple = df.shape
    print(shape_tuple)
    print('\n')
    print('Describe dataframe:')
    describe_df = df.describe()
    print(describe_df)
    print('\n')
    print('Data types of each column:')
    print(df.dtypes)
    print('\n')
    print('Non-nulls in each column:')
    print(df.info())
    print('\n')
    print('Memory usage:')
    print(df.memory_usage) # Currently not working
    return head_df, tail_df

In [51]:
peekatdata(df)

First five rows of the dataframe:
  customer_id  gender  senior_citizen partner dependents  tenure  \
0  0003-MKNFE    Male               0      No         No       9
1  0013-MHZWF  Female               0      No        Yes       9
2  0015-UOCOJ  Female               1      No         No       7
3  0023-HGHWL    Male               1      No         No       1
4  0032-PGELS  Female               0     Yes        Yes       1

  phone_service    multiple_lines  internet_service_type_id online_security  \
0           Yes               Yes                         1              No
1           Yes                No                         1              No
2           Yes                No                         1             Yes
3            No  No phone service                         1              No
4            No  No phone service                         1             Yes

             ...             streaming_movies contract_type_id  \
0            ...                          Yes                1
1            ...                          Yes                1
2            ...                           No                1
3            ...                           No                1
4            ...                           No                1

  paperless_billing payment_type_id monthly_charges  total_charges churn  \
0                No               2            59.9          542.4    No
1               Yes               4            69.4         571.45    No
2               Yes               1            48.2         340.35    No
3               Yes               1            25.1           25.1   Yes
4                No               3            30.5           30.5   Yes

    contract_type  internet_service_type               payment_type
0  Month-to-month                    DSL               Mailed check
1  Month-to-month                    DSL    Credit card (automatic)
2  Month-to-month                    DSL           Electronic check
3  Month-to-month                    DSL           Electronic check
4  Month-to-month                    DSL  Bank transfer (automatic)

[5 rows x 24 columns]


Last five rows of the dataframe:
     customer_id  gender  senior_citizen partner dependents  tenure  \
7038  9950-MTGYX    Male               0     Yes        Yes      28
7039  9953-ZMKSM    Male               0      No         No      63
7040  9964-WBQDJ  Female               0     Yes         No      71
7041  9972-EWRJS  Female               0     Yes        Yes      67
7042  9975-GPKZU    Male               0     Yes        Yes      46

     phone_service multiple_lines  internet_service_type_id  \
7038           Yes             No                         3
7039           Yes            Yes                         3
7040           Yes            Yes                         3
7041           Yes             No                         3
7042           Yes             No                         3

          online_security            ...                 streaming_movies  \
7038  No internet service            ...              No internet service
7039  No internet service            ...              No internet service
7040  No internet service            ...              No internet service
7041  No internet service            ...              No internet service
7042  No internet service            ...              No internet service

     contract_type_id paperless_billing payment_type_id monthly_charges  \
7038                3               Yes               4           20.30
7039                3                No               2           25.25
7040                3               Yes               4           24.40
7041                3               Yes               3           19.25
7042                3                No               4           19.75

      total_charges churn  contract_type  internet_service_type  \
7038         487.95    No       Two year                   None
7039         1559.3    No       Two year                   None
7040         1725.4    No       Two year                   None
7041         1372.9    No       Two year                   None
7042          856.5    No       Two year                   None

                   payment_type
7038    Credit card (automatic)
7039               Mailed check
7040    Credit card (automatic)
7041  Bank transfer (automatic)
7042    Credit card (automatic)

[5 rows x 24 columns]


Shape of the dataframe:
(7043, 24)


Describe dataframe:
       senior_citizen       tenure  internet_service_type_id  \
count     7043.000000  7043.000000               7043.000000
mean         0.162147    32.371149                  1.872923
std          0.368612    24.559481                  0.737796
min          0.000000     0.000000                  1.000000
25%          0.000000     9.000000                  1.000000
50%          0.000000    29.000000                  2.000000
75%          0.000000    55.000000                  2.000000
max          1.000000    72.000000                  3.000000

       contract_type_id  payment_type_id  monthly_charges
count       7043.000000      7043.000000      7043.000000
mean           1.690473         2.315633        64.761692
std            0.833755         1.148907        30.090047
min            1.000000         1.000000        18.250000
25%            1.000000         1.000000        35.500000
50%            1.000000         2.000000        70.350000
75%            2.000000         3.000000        89.850000
max            3.000000         4.000000       118.750000


Data types of each column:
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges                object
churn                        object
contract_type                object
internet_service_type        object
payment_type                 object
dtype: object


Non-nulls in each column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
internet_service_type_id    7043 non-null int64
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
contract_type_id            7043 non-null int64
paperless_billing           7043 non-null object
payment_type_id             7043 non-null int64
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB
None


Memory usage:
<bound method DataFrame.memory_usage of      customer_id  gender  senior_citizen partner dependents  tenure  \
0     0003-MKNFE    Male               0      No         No       9
1     0013-MHZWF  Female               0      No        Yes       9
2     0015-UOCOJ  Female               1      No         No       7
3     0023-HGHWL    Male               1      No         No       1
4     0032-PGELS  Female               0     Yes        Yes       1
5     0067-DKWBL    Male               1      No         No       2
6     0076-LVEPS    Male               0      No        Yes      29
7     0082-LDZUE    Male               0      No         No       1
8     0096-BXERS  Female               0     Yes         No       6
9     0096-FCPUF    Male               0      No         No      30
10    0106-GHRQR    Male               0      No         No      16
11    0117-LFRMW    Male               0     Yes        Yes      37
12    0128-MKWSG  Female               0      No        Yes      26
13    0156-FVPTA    Male               0     Yes         No      22
14    0191-ZHSKZ    Male               1      No         No      30
15    0212-ISBBF  Female               0      No         No      22
16    0222-CNVPT    Male               1      No         No      52
17    0224-HJAPT    Male               0      No         No       5
18    0224-RLWWD  Female               1      No         No       2
19    0228-MAUWC    Male               0      No         No      19
20    0248-IPDFW  Female               0      No         No       1
21    0257-KXZGU  Female               0     Yes        Yes      32
22    0260-ZDLGK  Female               0      No        Yes       9
23    0274-JKUJR    Male               0     Yes        Yes       7
24    0277-BKSQP    Male               0     Yes        Yes       8
25    0282-NVSJS  Female               1     Yes        Yes      12
26    0285-INHLN    Male               0     Yes        Yes      27
27    0289-IVARM  Female               0      No         No      35
28    0292-WEGCH  Female               0     Yes        Yes      54
29    0295-QVKPB    Male               0      No         No       5
...          ...     ...             ...     ...        ...     ...
7013  9537-JALFH    Male               0     Yes        Yes      69
7014  9548-LERKT    Male               0     Yes         No      24
7015  9565-AXSMR    Male               0     Yes        Yes      52
7016  9574-BOSMD    Male               0     Yes        Yes      68
7017  9585-KKMFD    Male               0     Yes        Yes      41
7018  9588-YRFHY    Male               0      No         No      49
7019  9593-CVZKR  Female               0     Yes        Yes      56
7020  9624-EGDEQ  Female               0      No         No      37
7021  9625-RZFUK    Male               0     Yes        Yes      63
7022  9631-RXVJM    Male               0      No         No      35
7023  9646-NMHXE    Male               0     Yes         No      47
7024  9648-BCHKM  Female               0     Yes        Yes      18
7025  9650-VBUOG    Male               0     Yes        Yes      38
7026  9661-JALZV  Female               0      No         No      58
7027  9668-PUGNU    Male               0     Yes         No      71
7028  9710-NJERN  Female               0      No         No      39
7029  9717-IOAAF    Male               0      No        Yes      27
7030  9764-REAFF  Female               0     Yes         No      59
7031  9798-OPFEM  Female               0      No         No      46
7032  9800-OUIGR    Male               0     Yes        Yes      66
7033  9814-AOUDH    Male               0      No         No      53
7034  9838-BFCQT    Male               0     Yes        Yes      72
7035  9916-AYHTC    Male               0      No         No      48
7036  9938-PRCVK  Female               0     Yes        Yes      41
7037  9945-PSVIP  Female               0     Yes        Yes      25
7038  9950-MTGYX    Male               0     Yes        Yes      28
7039  9953-ZMKSM    Male               0      No         No      63
7040  9964-WBQDJ  Female               0     Yes         No      71
7041  9972-EWRJS  Female               0     Yes        Yes      67
7042  9975-GPKZU    Male               0     Yes        Yes      46

     phone_service    multiple_lines  internet_service_type_id  \
0              Yes               Yes                         1
1              Yes                No                         1
2              Yes                No                         1
3               No  No phone service                         1
4               No  No phone service                         1
5              Yes                No                         1
6               No  No phone service                         1
7              Yes                No                         1
8              Yes               Yes                         1
9              Yes               Yes                         1
10             Yes               Yes                         1
11              No  No phone service                         1
12              No  No phone service                         1
13             Yes                No                         1
14             Yes                No                         1
15              No  No phone service                         1
16              No  No phone service                         1
17             Yes               Yes                         1
18             Yes                No                         1
19             Yes               Yes                         1
20             Yes               Yes                         1
21             Yes               Yes                         1
22             Yes                No                         1
23              No  No phone service                         1
24             Yes                No                         1
25              No  No phone service                         1
26             Yes                No                         1
27             Yes                No                         1
28             Yes               Yes                         1
29             Yes                No                         1
...            ...               ...                       ...
7013           Yes                No                         3
7014           Yes                No                         3
7015           Yes                No                         3
7016           Yes               Yes                         3
7017           Yes                No                         3
7018           Yes                No                         3
7019           Yes               Yes                         3
7020           Yes                No                         3
7021           Yes                No                         3
7022           Yes                No                         3
7023           Yes                No                         3
7024           Yes               Yes                         3
7025           Yes               Yes                         3
7026           Yes               Yes                         3
7027           Yes               Yes                         3
7028           Yes                No                         3
7029           Yes               Yes                         3
7030           Yes                No                         3
7031           Yes                No                         3
7032           Yes                No                         3
7033           Yes                No                         3
7034           Yes               Yes                         3
7035           Yes                No                         3
7036           Yes                No                         3
7037           Yes                No                         3
7038           Yes                No                         3
7039           Yes               Yes                         3
7040           Yes               Yes                         3
7041           Yes                No                         3
7042           Yes                No                         3

          online_security            ...                 streaming_movies  \
0                      No            ...                              Yes
1                      No            ...                              Yes
2                     Yes            ...                               No
3                      No            ...                               No
4                     Yes            ...                               No
5                     Yes            ...                               No
6                     Yes            ...                               No
7                      No            ...                               No
8                      No            ...                               No
9                     Yes            ...                              Yes
10                     No            ...                              Yes
11                    Yes            ...                               No
12                    Yes            ...                              Yes
13                    Yes            ...                               No
14                    Yes            ...                              Yes
15                     No            ...                              Yes
16                    Yes            ...                              Yes
17                     No            ...                               No
18                     No            ...                               No
19                     No            ...                               No
20                     No            ...                               No
21                     No            ...                               No
22                     No            ...                              Yes
23                    Yes            ...                              Yes
24                     No            ...                               No
25                     No            ...                               No
26                    Yes            ...                               No
27                    Yes            ...                               No
28                     No            ...                              Yes
29                     No            ...                               No
...                   ...            ...                              ...
7013  No internet service            ...              No internet service
7014  No internet service            ...              No internet service
7015  No internet service            ...              No internet service
7016  No internet service            ...              No internet service
7017  No internet service            ...              No internet service
7018  No internet service            ...              No internet service
7019  No internet service            ...              No internet service
7020  No internet service            ...              No internet service
7021  No internet service            ...              No internet service
7022  No internet service            ...              No internet service
7023  No internet service            ...              No internet service
7024  No internet service            ...              No internet service
7025  No internet service            ...              No internet service
7026  No internet service            ...              No internet service
7027  No internet service            ...              No internet service
7028  No internet service            ...              No internet service
7029  No internet service            ...              No internet service
7030  No internet service            ...              No internet service
7031  No internet service            ...              No internet service
7032  No internet service            ...              No internet service
7033  No internet service            ...              No internet service

(  customer_id  gender  senior_citizen partner dependents  tenure  \
 0  0003-MKNFE    Male               0      No         No       9
 1  0013-MHZWF  Female               0      No        Yes       9
 2  0015-UOCOJ  Female               1      No         No       7
 3  0023-HGHWL    Male               1      No         No       1
 4  0032-PGELS  Female               0     Yes        Yes       1

   phone_service    multiple_lines  internet_service_type_id online_security  \
 0           Yes               Yes                         1              No
 1           Yes                No                         1              No
 2           Yes                No                         1             Yes
 3            No  No phone service                         1              No
 4            No  No phone service                         1             Yes

              ...             streaming_movies contract_type_id  \
 0            ...                          Yes                1
 1            ...                          Yes                1
 2            ...                           No                1
 3            ...                           No                1
 4            ...                           No                1

   paperless_billing payment_type_id monthly_charges  total_charges churn  \
 0                No               2            59.9          542.4    No
 1               Yes               4            69.4         571.45    No
 2               Yes               1            48.2         340.35    No
 3               Yes               1            25.1           25.1   Yes
 4                No               3            30.5           30.5   Yes

     contract_type  internet_service_type               payment_type
 0  Month-to-month                    DSL               Mailed check
 1  Month-to-month                    DSL    Credit card (automatic)
 2  Month-to-month                    DSL           Electronic check
 3  Month-to-month                    DSL           Electronic check
 4  Month-to-month                    DSL  Bank transfer (automatic)

 [5 rows x 24 columns],
      customer_id  gender  senior_citizen partner dependents  tenure  \
 7038  9950-MTGYX    Male               0     Yes        Yes      28
 7039  9953-ZMKSM    Male               0      No         No      63
 7040  9964-WBQDJ  Female               0     Yes         No      71
 7041  9972-EWRJS  Female               0     Yes        Yes      67
 7042  9975-GPKZU    Male               0     Yes        Yes      46

      phone_service multiple_lines  internet_service_type_id  \
 7038           Yes             No                         3
 7039           Yes            Yes                         3
 7040           Yes            Yes                         3
 7041           Yes             No                         3
 7042           Yes             No                         3

           online_security            ...                 streaming_movies  \
 7038  No internet service            ...              No internet service
 7039  No internet service            ...              No internet service
 7040  No internet service            ...              No internet service
 7041  No internet service            ...              No internet service
 7042  No internet service            ...              No internet service

      contract_type_id paperless_billing payment_type_id monthly_charges  \
 7038                3               Yes               4           20.30
 7039                3                No               2           25.25
 7040                3               Yes               4           24.40
 7041                3               Yes               3           19.25
 7042                3                No               4           19.75

       total_charges churn  contract_type  internet_service_type  \
 7038         487.95    No       Two year                   None
 7039         1559.3    No       Two year                   None
 7040         1725.4    No       Two year                   None
 7041         1372.9    No       Two year                   None
 7042          856.5    No       Two year                   None

                    payment_type
 7038    Credit card (automatic)
 7039               Mailed check
 7040    Credit card (automatic)
 7041  Bank transfer (automatic)
 7042    Credit card (automatic)

 [5 rows x 24 columns])

In [52]:
head_df

NameError: name 'head_df' is not defined