# Classification Project

Why are our customers churning?

Some questions I have include:

- Could the month in which they signed up influence churn? i.e. if a cohort is identified by tenure, is there a cohort or cohorts who have a higher rate of churn than other cohorts? (Plot the rate of churn on a line chart where x is the tenure and y is the rate of churn (customers churned/total customers))
- Are there features that indicate a higher propensity to churn? like type of internet service, type of phone service, online security and backup, senior citizens, paying more than x% of customers with the same services, etc.?
- Is there a price threshold for specific services where the likelihood of churn increases once price for those services goes past that point? If so, what is that point for what service(s)?
- If we looked at churn rate for month-to-month customers after the 12th month and that of 1-year contract customers after the 12th month, are those rates comparable?

Deliverables:

1. I will also need a report (ipynb) answering the question, "Why are our customers churning?" I want to see the analysis you did to answer my questions and lead to your findings. Please clearly call out the questions and answers you are analyzing. E.g. If you find that month-to-month customers churn more, I won't be surprised, but I am not getting rid of that plan. The fact that they churn is not because they can, it's because they can and they are motivated to do so. I want some insight into why they are motivated to do so. I realize you will not be able to do a full causal experiment, but I hope to see some solid evidence of your conclusions.

2. I will need you to deliver to me a csv with the customer_id, probability of churn, and the prediction of churn (1=churn, 0=not_churn). I would also like a single google slide that illustrates how your model works, including the features being used, so that I can deliver this to the SLT (senior leadership team) when they come with questions about how these values were derived. Please make sure you include how likely your model is to give a high probability of churn when churn doesn't occur, to give a low probability of churn when churn occurs, and to accurately predict churn.

3. Finally, our development team will need a .py file that will take in a new dataset, (in the exact same form of the one you acquired from telco_churn.customers) and perform all the transformations necessary to run the model you have developed on this new dataset to provide probabilities and predictions.

## Specification

Detailed instructions for each section are below.

In general, make sure you document your work. You don't need to explain what every line of code is doing, but you should explain what and why you are doing. For example, if you drop a feature from the dataset, you should explain why you decided to do so, or why that is a reasonable thing to do. If you transform the data in a column, you should explain why you are making that transformation.

In addition, you should not present numbers in isolation. If your code outputs a number, be sure you give some context to the number.

Specific Deliverables:

- a jupyter notebook where your work takes place
- a csv file that predicts churn for each customer
a python script that prepares data such that it can be fed into your model
- a google slide summarizing your model
- a README.md file that contains a link to your google slides presentation, and instructions for how to use your python script(s)

In [1]:
#import modules

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from pydataset import data
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_recall_fscore_support as pfs
import sklearn.metrics as skm
import graphviz
from graphviz import Graph
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import math as m
import matplotlib.pyplot as plt
%matplotlib inline
import env

### Acquisition
1. Get the data from the customers table from the telco_churn database on the codeup data science database server.
    - You may wish to join some tables as part of your query.
    - This data should end up in a pandas data frame.

#### Importing the data directly from Mysql.

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
dbc = env.get_connection('telco_churn')
telco_full = pd.read_sql('SELECT * FROM customers c JOIN contract_types ct\
                            ON c.contract_type_id = ct.contract_type_id JOIN internet_service_types it\
                            ON c.internet_service_type_id = it.internet_service_type_id JOIN payment_types pt\
                            ON c.payment_type_id = pt.payment_type_id', dbc)
telco_full.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.9,542.4,No,1,Month-to-month,1,DSL,2,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.4,571.45,No,1,Month-to-month,1,DSL,4,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.2,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,25.1,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,3,30.5,30.5,Yes,1,Month-to-month,1,DSL,3,Bank transfer (automatic)

#### Importing data from csv file

In [4]:
df = pd.read_csv('telco_full_data.csv')
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service_type_id',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract_type_id',
       'paperless_billing', 'payment_type_id', 'monthly_charges',
       'total_charges', 'churn', 'contract_type_id.1', 'contract_type',
       'internet_service_type_id.1', 'internet_service_type',
       'payment_type_id.1', 'payment_type'],
      dtype='object')

In [5]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type_id,monthly_charges,total_charges,churn,contract_type_id.1,contract_type,internet_service_type_id.1,internet_service_type,payment_type_id.1,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,2,59.9,542.4,No,1,Month-to-month,1,DSL,2,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,4,69.4,571.45,No,1,Month-to-month,1,DSL,4,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,1,48.2,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,1,25.1,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,3,30.5,30.5,Yes,1,Month-to-month,1,DSL,3,Bank transfer (automatic)

#### Checking that duplicate columns are the same. (they are)

In [6]:
df.loc[df['payment_type_id'] != df['payment_type_id.1']]
df.loc[df['contract_type_id'] != df['contract_type_id.1']]
df.loc[df['internet_service_type_id'] != df['internet_service_type_id.1']]

Empty DataFrame
Columns: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, internet_service_type_id, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, contract_type_id, paperless_billing, payment_type_id, monthly_charges, total_charges, churn, contract_type_id.1, contract_type, internet_service_type_id.1, internet_service_type, payment_type_id.1, payment_type]
Index: []

[0 rows x 27 columns]

#### Dropping duplicate columns

In [7]:
df.drop(['payment_type_id.1', 'contract_type_id.1', 'internet_service_type_id.1'], inplace=True, axis=1)

In [8]:
df.sample(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
6455,0827-ITJPH,Male,0,No,No,36,Yes,No,3,No internet service,...,No internet service,3,Yes,4,18.55,689,No,Two year,None,Credit card (automatic)
5657,2565-JSLRY,Male,0,No,No,1,Yes,Yes,3,No internet service,...,No internet service,1,Yes,2,24.05,24.05,Yes,Month-to-month,None,Mailed check
1329,1925-LFCZZ,Male,1,No,No,55,No,No phone service,1,No,...,Yes,2,Yes,3,50.05,2743.45,No,One year,DSL,Bank transfer (automatic)
1728,8869-TORSS,Female,0,No,No,48,Yes,No,1,Yes,...,No,2,Yes,4,60.35,2896.4,Yes,One year,DSL,Credit card (automatic)
1995,3511-BFTJW,Male,0,Yes,Yes,72,No,No phone service,1,Yes,...,No,3,No,4,38.50,2763,No,Two year,DSL,Credit card (automatic)

In [9]:
df.tech_support.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [10]:
df.device_protection.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

### Hypothesis/General Ideas
- I believe that customers with multiple lines will have a decent effect on whether a customer churns or not. A customer with multiple lines might be less inclined to churn due to having to move all the lines over. Likewise, those with streaming services will be less likely to churn. Basically, the more services a customer has the less likely to churn.
- Monthly charges will also play a role. The more a customer pays, the more likely to churn.

2. Write a function, peekatdata(dataframe), that takes a dataframe as input and computes and returns the following:
    - creates dataframe object head_df (df of the first 5 rows) and prints contents to screen
    - creates dataframe object tail_df (df of the last 5 rows) and prints contents to screen
    - creates tuple object shape_tuple (tuple of (nrows, ncols)) and prints tuple to screen
    - creates dataframe object describe_df (summary statistics of all numeric variables) and prints contents to screen.
    - prints to screen the information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

In [11]:
def peekatdata(df):
    print('First five rows of the dataframe:')
    head_df = df.head()
    print(head_df)
    print('\n')
    print('Last five rows of the dataframe:')
    tail_df = df.tail()
    print(tail_df)
    print('\n')
    print('Shape of the dataframe:')
    shape_tuple = df.shape
    print(shape_tuple)
    print('\n')
    print('Describe dataframe:')
    describe_df = df.describe()
    print(describe_df)
    print('\n')
    print('Data types of each column:')
    print(df.dtypes)
    print('\n')
    print('Non-nulls in each column:')
    print(df.info())
    print('\n')
    print('Memory usage:')
    print(df.memory_usage)

peekatdata(df)

First five rows of the dataframe:
  customer_id  gender  senior_citizen partner dependents  tenure  \
0  0003-MKNFE    Male               0      No         No       9
1  0013-MHZWF  Female               0      No        Yes       9
2  0015-UOCOJ  Female               1      No         No       7
3  0023-HGHWL    Male               1      No         No       1
4  0032-PGELS  Female               0     Yes        Yes       1

  phone_service    multiple_lines  internet_service_type_id online_security  \
0           Yes               Yes                         1              No
1           Yes                No                         1              No
2           Yes                No                         1             Yes
3            No  No phone service                         1              No
4            No  No phone service                         1             Yes

             ...             streaming_movies contract_type_id  \
0            ...                          Yes                1
1            ...                          Yes                1
2            ...                           No                1
3            ...                           No                1
4            ...                           No                1

  paperless_billing payment_type_id monthly_charges  total_charges churn  \
0                No               2            59.9          542.4    No
1               Yes               4            69.4         571.45    No
2               Yes               1            48.2         340.35    No
3               Yes               1            25.1           25.1   Yes
4                No               3            30.5           30.5   Yes

    contract_type  internet_service_type               payment_type
0  Month-to-month                    DSL               Mailed check
1  Month-to-month                    DSL    Credit card (automatic)
2  Month-to-month                    DSL           Electronic check
3  Month-to-month                    DSL           Electronic check
4  Month-to-month                    DSL  Bank transfer (automatic)

[5 rows x 24 columns]


Last five rows of the dataframe:
     customer_id  gender  senior_citizen partner dependents  tenure  \
7038  9950-MTGYX    Male               0     Yes        Yes      28
7039  9953-ZMKSM    Male               0      No         No      63
7040  9964-WBQDJ  Female               0     Yes         No      71
7041  9972-EWRJS  Female               0     Yes        Yes      67
7042  9975-GPKZU    Male               0     Yes        Yes      46

     phone_service multiple_lines  internet_service_type_id  \
7038           Yes             No                         3
7039           Yes            Yes                         3
7040           Yes            Yes                         3
7041           Yes             No                         3
7042           Yes             No                         3

          online_security            ...                 streaming_movies  \
7038  No internet service            ...              No internet service
7039  No internet service            ...              No internet service
7040  No internet service            ...              No internet service
7041  No internet service            ...              No internet service
7042  No internet service            ...              No internet service

     contract_type_id paperless_billing payment_type_id monthly_charges  \
7038                3               Yes               4           20.30
7039                3                No               2           25.25
7040                3               Yes               4           24.40
7041                3               Yes               3           19.25
7042                3                No               4           19.75

      total_charges churn  contract_type  internet_service_type  \
7038         487.95    No       Two year                   None
7039         1559.3    No       Two year                   None
7040         1725.4    No       Two year                   None
7041         1372.9    No       Two year                   None
7042          856.5    No       Two year                   None

                   payment_type
7038    Credit card (automatic)
7039               Mailed check
7040    Credit card (automatic)
7041  Bank transfer (automatic)
7042    Credit card (automatic)

[5 rows x 24 columns]


Shape of the dataframe:
(7043, 24)


Describe dataframe:
       senior_citizen       tenure  internet_service_type_id  \
count     7043.000000  7043.000000               7043.000000
mean         0.162147    32.371149                  1.872923
std          0.368612    24.559481                  0.737796
min          0.000000     0.000000                  1.000000
25%          0.000000     9.000000                  1.000000
50%          0.000000    29.000000                  2.000000
75%          0.000000    55.000000                  2.000000
max          1.000000    72.000000                  3.000000

       contract_type_id  payment_type_id  monthly_charges
count       7043.000000      7043.000000      7043.000000
mean           1.690473         2.315633        64.761692
std            0.833755         1.148907        30.090047
min            1.000000         1.000000        18.250000
25%            1.000000         1.000000        35.500000
50%            1.000000         2.000000        70.350000
75%            2.000000         3.000000        89.850000
max            3.000000         4.000000       118.750000


Data types of each column:
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges                object
churn                        object
contract_type                object
internet_service_type        object
payment_type                 object
dtype: object


Non-nulls in each column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
internet_service_type_id    7043 non-null int64
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
contract_type_id            7043 non-null int64
paperless_billing           7043 non-null object
payment_type_id             7043 non-null int64
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB
None


Memory usage:
<bound method DataFrame.memory_usage of      customer_id  gender  senior_citizen partner dependents  tenure  \
0     0003-MKNFE    Male               0      No         No       9
1     0013-MHZWF  Female               0      No        Yes       9
2     0015-UOCOJ  Female               1      No         No       7
3     0023-HGHWL    Male               1      No         No       1
4     0032-PGELS  Female               0     Yes        Yes       1
5     0067-DKWBL    Male               1      No         No       2
6     0076-LVEPS    Male               0      No        Yes      29
7     0082-LDZUE    Male               0      No         No       1
8     0096-BXERS  Female               0     Yes         No       6
9     0096-FCPUF    Male               0      No         No      30
10    0106-GHRQR    Male               0      No         No      16
11    0117-LFRMW    Male               0     Yes        Yes      37
12    0128-MKWSG  Female               0      No        Yes      26
13    0156-FVPTA    Male               0     Yes         No      22
14    0191-ZHSKZ    Male               1      No         No      30
15    0212-ISBBF  Female               0      No         No      22
16    0222-CNVPT    Male               1      No         No      52
17    0224-HJAPT    Male               0      No         No       5
18    0224-RLWWD  Female               1      No         No       2
19    0228-MAUWC    Male               0      No         No      19
20    0248-IPDFW  Female               0      No         No       1
21    0257-KXZGU  Female               0     Yes        Yes      32
22    0260-ZDLGK  Female               0      No        Yes       9
23    0274-JKUJR    Male               0     Yes        Yes       7
24    0277-BKSQP    Male               0     Yes        Yes       8
25    0282-NVSJS  Female               1     Yes        Yes      12
26    0285-INHLN    Male               0     Yes        Yes      27
27    0289-IVARM  Female               0      No         No      35
28    0292-WEGCH  Female               0     Yes        Yes      54
29    0295-QVKPB    Male               0      No         No       5
30    0311-QYWSS  Female               0      No         No       6
31    0314-TKOSI  Female               0      No         No       6
32    0319-QZTCO  Female               0     Yes        Yes       3
33    0322-CHQRU    Male               0      No         No       2
34    0322-YINQP    Male               0      No         No       1
35    0356-ERHVT    Male               0     Yes         No      11
36    0374-AACSZ  Female               0      No         No       1
37    0374-IOEGQ  Female               0      No         No       3
38    0375-HVGXO  Female               0      No         No       1
39    0377-JBKKT    Male               0     Yes        Yes      22
40    0384-RVBPI    Male               0      No         No      20
41    0396-UKGAI    Male               0      No        Yes      23
42    0411-EZJZE  Female               0      No         No       3
43    0415-MOSGF  Female               0      No         No       1
44    0420-BWTPW    Male               0      No        Yes       8
45    0423-UDIJQ    Male               1      No         No       9
46    0430-IHCDJ    Male               0      No         No      15
47    0440-QEXBZ  Female               0      No         No      44
48    0447-BEMNG  Female               0     Yes         No      48
49    0463-ZSDNT    Male               0      No         No      10
50    0516-WJVXC  Female               0      No         No       5
51    0523-VNGTF  Female               1      No         No      52
52    0541-FITGH  Female               0     Yes         No       2
53    0550-DCXLH    Male               0      No         No      13
54    0567-GGCAC  Female               0      No         No       7
55    0584-BJQGZ  Female               0      No         No      25
56    0587-DMGBH  Female               0      No         No       8
57    0601-WZHJF    Male               0     Yes         No      14
58    0603-OLQDC    Male               0      No        Yes      12
59    0612-RTZZA  Female               1      No         No       1
60    0616-ATFGB    Male               1     Yes         No       1
61    0621-TWIEM    Male               0      No         No      10
62    0623-GDISB  Female               0      No         No       1
63    0623-IIHUG  Female               1      No         No      21
64    0655-YDGFJ    Male               0      No         No      29
65    0661-XEYAN  Female               1      No         No       1
66    0668-OGMHD  Female               0     Yes         No      21
67    0674-EYYZV  Female               0      No         No       1
68    0696-UKTOX    Male               0      No        Yes      23
69    0699-NDKJM  Female               0     Yes         No      57
70    0701-TJSEF    Male               0      No         No       9
71    0708-LGSMF    Male               0     Yes         No      13
72    0708-SJDIS  Female               0      No         No      34
73    0719-SYFRB  Female               0      No         No      12
74    0733-VUNUW    Male               0      No         No      24
75    0734-OXWBT    Male               0      No        Yes       3
76    0742-MOABM    Male               0     Yes         No       4
77    0746-JTRFU    Male               0      No         No       2
78    0749-IRGQE  Female               1     Yes         No      13
79    0774-IFUVM    Male               0     Yes        Yes      11
80    0778-NELLA    Male               0      No         No       9
81    0786-VSSUD    Male               1      No         No      16
82    0799-DDIHE  Female               0     Yes        Yes      15
83    0804-XBFBV  Female               0      No        Yes      11
84    0807-ZABDG  Female               0      No        Yes       3
...          ...     ...             ...     ...        ...     ...
6958  8612-GXIDD    Male               0     Yes        Yes      12
6959  8626-XHBIE    Male               0      No        Yes      56
6960  8701-DGLVH    Male               0      No         No      51
6961  8711-LOBKY    Male               0     Yes        Yes      59
6962  8727-JQFHV    Male               0     Yes        Yes      57
6963  8735-SDUFN  Female               1     Yes         No      72
6964  8747-UDCOI  Female               0     Yes         No      65
6965  8749-TZYEC    Male               0     Yes         No      72
6966  8750-QWZAJ  Female               0     Yes        Yes      70
6967  8755-OGKNA  Female               0     Yes        Yes      57
6968  8774-GSBUN    Male               0     Yes         No      72
6969  8780-IHCRN    Male               0     Yes        Yes      63
6970  8807-OPMBM  Female               0     Yes        Yes      55
6971  8838-GPHZP  Female               0      No         No      63
6972  8857-CUPFQ    Male               0     Yes         No      63
6973  8859-AXJZP    Male               0     Yes        Yes      39
6974  8859-DZTGQ    Male               0      No         No      33
6975  8874-EJNSR    Male               0     Yes        Yes      39
6976  8896-RAZCR  Female               0      No        Yes      44
6977  8908-SLFCJ  Female               0      No         No      21
6978  8917-FAEMR  Female               0      No         No      37
6979  8917-SZTTJ    Male               0     Yes        Yes      60
6980  8922-NPKBJ    Male               0     Yes        Yes      42
6981  8946-BFWSG    Male               0     Yes        Yes      63
6982  8957-THMOA  Female               0      No        Yes      50
6983  8966-KZXXA    Male               0     Yes        Yes      36
6984  8966-SNIZF  Female               0     Yes         No      70
6985  8999-EXMNO  Female               0     Yes        Yes      19
6986  9030-QGZNL  Female               0      No         No       8
6987  9068-FHQHD  Female               0     Yes        Yes      40
6988  9081-WWXKP  Female               0     Yes        Yes      47
6989  9084-OAYKL    Male               0      No         No      58
6990  9087-EYCPR  Female               0      No         No      60
6991  9108-EQPNQ  Female               0     Yes        Yes      10
6992  9135-HSWOC    Male               0     Yes        Yes      64
6993  9150-KPBJQ  Female               0      No         No       6
6994  9153-BTBVV  Female               0     Yes         No      71
6995  9173-IVZVP  Female               0     Yes        Yes      53
6996  9178-JHUVJ    Male               0     Yes        Yes      24
6997  9227-UAQFT    Male               0      No         No      16
6998  9251-AWQGT  Female               0     Yes        Yes      48
6999  9257-AZMTZ  Female               0     Yes        Yes      52
7000  9337-SRRNI    Male               0      No        Yes      66
7001  9350-ZXYJC  Female               0      No         No       4
7002  9365-CSLBQ    Male               0      No        Yes      71
7003  9371-BITHB  Female               0     Yes        Yes      52
7004  9385-EHGDO  Female               0     Yes        Yes      35
7005  9392-XBGTD    Male               0      No        Yes      27
7006  9397-TZSHA  Female               0      No         No      69
7007  9418-RUKPH  Female               0     Yes        Yes      38
7008  9424-CMPOG    Male               0     Yes        Yes       9
7009  9430-NKQLY    Male               0     Yes        Yes      72
7010  9500-WBGRP    Male               0      No         No      69
7011  9504-YAZWB  Female               0      No         No      53
7012  9507-HSMMZ    Male               0      No         No      54
7013  9537-JALFH    Male               0     Yes        Yes      69
7014  9548-LERKT    Male               0     Yes         No      24
7015  9565-AXSMR    Male               0     Yes        Yes      52
7016  9574-BOSMD    Male               0     Yes        Yes      68
7017  9585-KKMFD    Male               0     Yes        Yes      41
7018  9588-YRFHY    Male               0      No         No      49
7019  9593-CVZKR  Female               0     Yes        Yes      56
7020  9624-EGDEQ  Female               0      No         No      37
7021  9625-RZFUK    Male               0     Yes        Yes      63
7022  9631-RXVJM    Male               0      No         No      35
7023  9646-NMHXE    Male               0     Yes         No      47
7024  9648-BCHKM  Female               0     Yes        Yes      18
7025  9650-VBUOG    Male               0     Yes        Yes      38
7026  9661-JALZV  Female               0      No         No      58
7027  9668-PUGNU    Male               0     Yes         No      71
7028  9710-NJERN  Female               0      No         No      39
7029  9717-IOAAF    Male               0      No        Yes      27
7030  9764-REAFF  Female               0     Yes         No      59
7031  9798-OPFEM  Female               0      No         No      46
7032  9800-OUIGR    Male               0     Yes        Yes      66
7033  9814-AOUDH    Male               0      No         No      53
7034  9838-BFCQT    Male               0     Yes        Yes      72
7035  9916-AYHTC    Male               0      No         No      48
7036  9938-PRCVK  Female               0     Yes        Yes      41
7037  9945-PSVIP  Female               0     Yes        Yes      25
7038  9950-MTGYX    Male               0     Yes        Yes      28
7039  9953-ZMKSM    Male               0      No         No      63
7040  9964-WBQDJ  Female               0     Yes         No      71
7041  9972-EWRJS  Female               0     Yes        Yes      67
7042  9975-GPKZU    Male               0     Yes        Yes      46

     phone_service    multiple_lines  internet_service_type_id  \
0              Yes               Yes                         1
1              Yes                No                         1
2              Yes                No                         1
3               No  No phone service                         1
4               No  No phone service                         1

### Data Prep
1. Write a function, df_value_counts(dataframe), that takes a dataframe as input and computes and returns the values by frequency for each column. The function should decide whether or not to bin the data for the value counts.


2. Handle Missing Values
    - Explore the data and see if there are any missing values.
    
    Write a function that accepts a dataframe and returns the names of the columns that have missing values, and the percent of missing values in each column that has missing values.

    - Document your takeaways. For each variable:

        - should you remove the observations with a missing value for that variable?
        - should you remove the variable altogether?
        - is missing equivalent to 0 (or some other constant value) in the specific case of this variable?
        - should you replace the missing values with a value it is most likely to represent (e.g. Are the missing values a result of data integrity issues and should be replaced by the most likely value?)
        
    - Handle the missing values in the way you recommended above.

3. Transform churn such that "yes" = 1 and "no" = 0

4. Compute a new feature, tenure_year, that is a result of translating tenure from months to years.

5. Figure out a way to capture the information contained in phone_service and multiple_lines into a single variable of dtype int. Write a function that will transform the data and place in a new column named phone_id.

6. Figure out a way to capture the information contained in dependents and partner into a single variable of dtype int. Transform the data and place in a new column household_type_id.

7. Figure out a way to capture the information contained in streaming_tv and streaming_movies into a single variable of dtype int. Transform the data and place in a new column streaming_services.

8. Figure out a way to capture the information contained in online_security and online_backup into a single variable of dtype int. Transform the data and place in a new column online_security_backup.

9. Split the data into train (70%) & test (30%) samples.

10. Variable Encoding: encode the values in each non-numeric feature such that they are numeric.

11. Numeric Scaling: scale the monthly_charges and total_charges data. Make sure that the parameters for scaling are learned from the training data set.

### Data Exploration
1. Could the month in which they signed up influence churn? i.e. if a cohort is identified by tenure, is there a cohort or cohorts who have a higher rate of churn than other cohorts? (Plot the rate of churn on a line chart where x is the tenure and y is the rate of churn (customers churned/total customers)).

2. Are there features that indicate a higher propensity to churn? like type of internet service, type of phone service, online security and backup, senior citizens, paying more than x% of customers with the same services, etc.?

3. Is there a price threshold for specific services where the likelihood of churn increases once price for those services goes past that point? If so, what is that point for what service(s)?

4. If we looked at churn rate for month-to-month customers after the 12th month and that of 1-year contract customers after the 12th month, are those rates comparable?

5. Controlling for services (phone_id, internet_service_type_id, online_security_backup, device_protection, tech_support, and contract_type_id), is the mean monthly_charges of those who have churned significantly different from that of those who have not churned? (Use a t-test to answer this.)

6. How much of monthly_charges can be explained by internet_service_type? (hint: correlation test). State your hypotheses and your conclusion clearly.

7. How much of monthly_charges can be explained by internet_service_type + phone service type (0, 1, or multiple lines). State your hypotheses and your conclusion clearly.

8. Create visualizations exploring the interactions of variables (independent with independent and independent with dependent). The goal is to identify features that are related to churn, identify any data integrity issues, understand 'how the data works'. For example, we may find that all who have online services also have device protection. In that case, we don't need both of those. (The visualizations done in your analysis for questions 1-5 count towards the requirements below)

    - Each independent variable (except for customer_id) should be visualized in at least two plots, and at least 1 of those compares the independent variable with the dependent variable.

    - For each plot where x and y are independent variables, add a third dimension (where possible), of churn represented by color.

    - Use subplots when plotting the same type of chart but with different variables.

    - Adjust the axes as necessary to extract information from the visualizations (adjusting the x & y limits, setting the scale where needed, etc.)

    - Add annotations to at least 5 plots with a key takeaway from that plot.

    - Use plots from matplotlib, pandas and seaborn.

    - Use each of the following:

        - sns.heatmap
        - pd.crosstab (along with sns.heatmap)
        - pd.scatter_matrix
        - sns.barplot
        - sns.swarmplot
        - sns.pairplot
        - sns.jointplot
        - sns.relplot or plt.scatter
        - sns.distplot or plt.hist
        - sns.boxplot
        - plt.plot
    - Use at least one more type of plot that is not included in the list above.

9. What can you say about each variable's relationship to churn, based on your initial exploration? If there appears to be some sort of interaction or correlation, assume there is no causal relationship and brainstorm (and document) ideas on reasons there could be correlation.

10. Summarize your conclusions, provide clear answers to the specific questions, and summarize any takeaways/action plan from the work above.

### Modeling
1. Feature Selection: Are there any variables that seem to provide limited to no additional information? If so, remove them.

2. Train (fit, transform, evaluate) multiple different models, varying the model type and your meta-parameters.

3. Compare evaluation metrics across all the models, and select the best performing model.

4. Test the final model (transform, evaluate) on your out-of-sample data (the testing data set). Summarize the performance. Interpret your results.